.home_component{
	background-color: rgb(250, 249, 249);
	width: 100%;
	height: 100%;
    overflow: scroll;
    scroll-behavior: smooth;
}

iframe{      
        display: block;  /* iframes are inline by default */   
        height: 100vh;  /* Set height to 100% of the viewport height */   
        width: 100vw;  /* Set width to 100% of the viewport width */     
        border: none; /* Remove default border */
        background: lightyellow; 
    }

.list_container{
    background-color: rgb(240, 237, 237);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    padding:10px;
    overflow-y: scroll;
}

.item_list:hover{
    cursor: pointer;
}

